:root {
    --primary-color: #ffffff;
    --primary-text-color: #ffffff;
    --secondary-text-color: #e8e8e8;
    --white-color: #fff;
    --light-gray-color: #f4f4f4;
    --mid-gray-color: #f8f8f8;
    --dark-gray-color: #ededed;
    --black-color: #000;
    --font-sans: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-serif: PirataOne-Regular, Lora, Times, serif;
    --animation-base: ease-in-out;
    --shadow-base: 0 0 10px rgba(0, 0, 0, 0.02);
    --content-font-size: 1.7rem;
    --color-primary-text: #ffffff;
    --color-secondary-text: #e8e8e8;
    --color-primary: #ffffff;
    --color-primary-hover: #777;
    --color-primary-active: #e8e8e8;
    --color-darker-gray: #b3b3b3;
    --color-dark-gray: #ffffff;
    
}
dark-font {
    font-family: PirataOne-Regular, "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

/* body:not(.post-template):not(.page-template) { */
body {
    background-image: linear-gradient(0deg, #000000 65%, #191919);

}
