.related-wrapper {
    padding-top: 48px;
    padding-bottom: 64px;
    margin-top: 96px;
    background-color: var(--light-gray-color);
}

.related-title {
    margin: 20px 0 40px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
